@model ValueTuple<IEnumerable<StarmixInfo.Models.Data.Project>, int?>
@{
    ViewData["Title"] = "All Projects";
}

@section Styles {
    <style>
        .proj-panel-group {
            margin-bottom: 0;
        }

        .proj-panel-group .panel + .panel {
            margin-top: 10px;
        }
    </style>
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel-group proj-panel-group">
            @foreach (var proj in Model.Item1) {
                <div class="panel @(proj.ProjectID == Model.Item2 ? "panel-success" : "panel-default")"> @* add current project highlight *@
                    <div class="panel-heading">
                        <h3>@proj.Name</h3>
                        <p>@proj.ShortDesc</p>
                    </div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-3">
    								<a class="btn btn-primary" asp-action="Project" asp-route-id="@proj.ProjectID">View Details</a>
                                </div>
                                <div class="col-xs-3 col-xs-offset-6">
    								<a class="btn btn-default" style="float: right;" asp-action="ProjectBuilds" asp-route-id="@proj.ProjectID">View Builds</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
