@model Tuple<int, IEnumerable<StarmixInfo.Models.Data.Project>, int?>
@{
    ViewData["Title"] = "Admin";
}

@functions {
    string GenStatusPanel(bool status, string content)
    {
        return "<div class=\"panel " + (status ? "panel-success" : "panel-danger") + "\">" +
                    "<div class=\"panel-heading\">" + content + "</div>" +
                 "</div>";
    }
}

@*
status codes:
1: create succeeded
2: create failed
3: update succeeded
4: update failed
5: delete successed
6: delete failed
7: current project set
*@
@if (Model.Item1 > 0) {
    <div class="row">
	    <div class="col-sm-12">
            @switch (Model.Item1) {
                case 1:
    	                @: @Html.Raw(GenStatusPanel(true, "New project created"))
                    break;
                case 2:
                        @: @Html.Raw(GenStatusPanel(false, "Unable to create project"))
                    break;
                case 3:
                        @: @Html.Raw(GenStatusPanel(true, "Project updated"))
                    break;
                case 4:
                        @: @Html.Raw(GenStatusPanel(false, "Unable to update project"))
                    break;
                case 5:
                        @: @Html.Raw(GenStatusPanel(true, "Project deleted"))
                    break;
                case 6:
                        @: @Html.Raw(GenStatusPanel(false, "Unable to delete project"))
                    break;
    	        case 7:
    	                @: @Html.Raw(GenStatusPanel(true, "Current project set"))
    	            break;
            }
		</div>
	</div>
}
<div class="row">
	<div class="col-sm-12">
    	<div class="panel-group">
            @foreach (var proj in Model.Item2) {
                <div class="panel @(proj.ProjectID == Model.Item3 ? "panel-success" : "panel-default")"> @* add current project highlight *@
        			<div class="panel-heading">
                        <h3>@proj.Name</h3>
        				<p>@proj.ShortDesc</p>
        			</div>
        			<div class="panel-body">
        				<div class="container-fluid">
        					<div class="row">
    							<div class="col-sm-12 proj-long-desc-col">
								    <div class="container-fluid"> @* long desc is html code in this div block *@
									    <!-- long description HTML raw injection -->
								        @Html.Raw(proj.LongDesc)
									    <!-- finished long description raw injection -->
									</div>
    							</div>
        					</div>
        					<div class="row">
        						<div class="col-sm-4 col-sm-offset-8">
                                    <form class="admin-proj-btn" action="/Admin/Delete/@proj.ProjectID" method="post" onsubmit="return confirm('Are you sure you want to delete this project?')">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                    <form class="admin-proj-btn" action="/Admin/Edit/@proj.ProjectID" method="get">
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                    </form>
        							@if (proj.ProjectID != Model.Item3) {
                                        <form class="admin-proj-btn" action="/Admin/SetCurrent/@proj.ProjectID" method="get">
                                            <button type="submit" class="btn btn-warning">Set As Current Project</button>
                                        </form>
        							}
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	}
    	</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-offset-9 col-sm-3">
        <a class="btn btn-success" href="/Admin/New" style="float: right;">New Project</a>
	</div>
</div>
