@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-sm-12">
        <h2>About</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>This is the Year 2 Software Engineering Project (SEPR) website.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3 style="text-align: center;">Project Members</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-sm-offset-3">
        <p class="about-member">Angel Simeonov (@Html.Partial("_EmailTemplate", "ass540@york.ac.uk"))</p>
    </div>
    <div class="col-sm-3">
        <p class="about-member">Benjamin Percival (@Html.Partial("_EmailTemplate", "bnp502@york.ac.uk"))</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-sm-offset-3">
        <p class="about-member">Daniel Molloy (@Html.Partial("_EmailTemplate", "dm1143@york.ac.uk"))</p>
    </div>
    <div class="col-sm-3">
        <p class="about-member">Jordan Lam (@Html.Partial("_EmailTemplate", "jl2438@york.ac.uk"))</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-sm-offset-3">
        <p class="about-member">Luke Davies (@Html.Partial("_EmailTemplate", "ld1042@york.ac.uk"))</p>
    </div>
    <div class="col-sm-3">
        <p class="about-member">Mingrui Li (@Html.Partial("_EmailTemplate", "ml1652@york.ac.uk"))</p>
    </div>
</div>
