@model StarmixInfo.Models.Data.Project
@{
    ViewData["Title"] = "Home Page";
}

@if (Model == null) {
    <div class="row">
	    <div class="col-sm-12">
            <h1>No project set as current</h1>
		</div>
    </div>
}
else {
    <div class="row">
	    <div class="col-sm-12">
            <h1>@Model.Name</h1>
    	    <p>@Model.ShortDesc</p>
		</div>
    </div>
    <hr />
    @Html.Partial("_ProjectLongDesc", Model.LongDesc)
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3">
            <a class="btn btn-primary" asp-controller="Projects" asp-action="Project" asp-route-id="@Model.ProjectID">View Details</a>
	    </div>
	    <div class="col-sm-3 col-sm-offset-6">
            <a class="btn btn-default" style="float: right;" asp-controller="Projects" asp-action="ProjectBuilds" asp-route-id="@Model.ProjectID">View Builds</a>
	    </div>
    </div>
}
